.books {
  padding: 1rem;
  border-radius: 14px;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.book-results {
  display: flex;
  text-align: center;
  max-width: 95%;
  width: 50rem;
  margin: 2rem auto;
  position: relative;
  color: white;
}
