header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 1rem;
  z-index: 999;
}

.header-left,
.header-right {
  width: 40%;
  display: flex;
}
.logo {
  width: 10%;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.nav li {
  margin-right: 2.3rem;
}

.nav a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fcb8d2;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: white;
}
