.button {
  padding: 1rem 0.4rem;
  display: flex;
  font-size: 1.25rem;
  align-items: baseline;
  border: none;
  width: max-content;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.2rem;
  margin-top: auto;
}
.text {
  color: #fcb8d2;
  font-weight: 300;
}
.badge {
  background-color: #fcb8d2;
  color: #77002e;
  padding: 0.1rem 0.4rem;
  border-radius: 25px;
  margin-left: 8px;
  font-weight: bold;
}

.button:hover .text,
.button:active .text {
  background: #fcb8d2;
  border-color: #fcb8d2;
  color: #77002e;
}
.button:hover .badge,
.button:active .badge {
  background: #77002e;
  border-color: #77002e;
  color: #fcb8d2;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
